Icona/Icona.ChannelsDownloading.App/Connected Services/ChannelsService/ChannelsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChannelsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Icona.Logic.Contracts" />
      <xsd:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Icona.Common.Enums" />
      <xsd:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ChannelsService_GetChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="ChannelsService_GetChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="ChannelsService_GetChannels_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="ChannelsService_AddNewsItems_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewsItems" />
  </wsdl:message>
  <wsdl:message name="ChannelsService_AddNewsItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewsItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ChannelsService_AddNewsItems_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:portType name="ChannelsService">
    <wsdl:operation name="GetChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/ChannelsService/GetChannels" message="tns:ChannelsService_GetChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ChannelsService/GetChannelsResponse" message="tns:ChannelsService_GetChannels_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ChannelsService/GetChannelsFaultExceptionFault" name="FaultExceptionFault" message="tns:ChannelsService_GetChannels_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewsItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ChannelsService/AddNewsItems" message="tns:ChannelsService_AddNewsItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ChannelsService/AddNewsItemsResponse" message="tns:ChannelsService_AddNewsItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ChannelsService/AddNewsItemsFaultExceptionFault" name="FaultExceptionFault" message="tns:ChannelsService_AddNewsItems_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ChannelsService" type="tns:ChannelsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannels">
      <soap:operation soapAction="http://tempuri.org/ChannelsService/GetChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddNewsItems">
      <soap:operation soapAction="http://tempuri.org/ChannelsService/AddNewsItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelsService">
    <wsdl:port name="BasicHttpBinding_ChannelsService" binding="tns:BasicHttpBinding_ChannelsService">
      <soap:address location="http://localhost:58173/Services/ChannelsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>