Icona/Icona.ChannelsDownloading.App/Connected Services/ChannelsService/ChannelsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Icona.Logic.Contracts" />
  <xs:element name="GetChannels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Icona.Logic.Contracts" minOccurs="0" name="GetChannelsResult" nillable="true" type="q1:ArrayOfChannelContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Icona.Logic.Contracts" minOccurs="0" name="items" nillable="true" type="q2:ArrayOfNewsItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>