Icona/Icona.ChannelsDownloading.App/Connected Services/ChannelsService/ChannelsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Icona.Logic.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Icona.Logic.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58173/Services/ChannelsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Icona.Common.Enums" />
  <xs:complexType name="ArrayOfChannelContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelContract" nillable="true" type="tns:ChannelContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelContract" nillable="true" type="tns:ArrayOfChannelContract" />
  <xs:complexType name="ChannelContract">
    <xs:sequence>
      <xs:element name="Attributes" nillable="true" type="xs:string" />
      <xs:element name="CommunityId" type="xs:int" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="LastSynchronizationDate" nillable="true" type="xs:dateTime" />
      <xs:element name="Tags" nillable="true" type="xs:string" />
      <xs:element name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Icona.Common.Enums" name="Type" type="q1:ChannelTypes" />
      <xs:element name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelContract" nillable="true" type="tns:ChannelContract" />
  <xs:complexType name="ArrayOfNewsItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsItemContract" nillable="true" type="tns:NewsItemContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsItemContract" nillable="true" type="tns:ArrayOfNewsItemContract" />
  <xs:complexType name="NewsItemContract">
    <xs:sequence>
      <xs:element name="ChannelId" type="xs:int" />
      <xs:element name="Date" type="xs:dateTime" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="Text" nillable="true" type="xs:string" />
      <xs:element name="Title" nillable="true" type="xs:string" />
      <xs:element name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsItemContract" nillable="true" type="tns:NewsItemContract" />
</xs:schema>